<section class="new-quizz-field">
  <form class="form-field" (ngSubmit)="submitQuizz()">

    <h1>{{titleText}}</h1>

    <div class="input-field">
      <label for="title">Nome</label>
      <input placeholder="Digite o nome do quizz" type="text" id="title" name="title" [(ngModel)]="title">
    </div>

    <div class="input-field">
      <label for="description">Descrição</label>
      <input placeholder="Digite a descrição" type="text" id="description" name="description" [(ngModel)]="description">
    </div>

    <div class="input-field">
      <label for="difficulty">Dificuldade</label>
      <input placeholder="Qual a dificuldade?" type="text" id="difficulty" name="difficulty" [(ngModel)]="level">
    </div>

    <div class="input-field">
      <label for="level">XP</label>
      <input placeholder="Quantos XP?" type="text" id="level" name="level" [(ngModel)]="rewardXp">
    </div>

    <div class="input-field">
      <label for="type">Tipo</label>
      <input placeholder="Tipo de pergunta?" type="text" id="type" name="type" [(ngModel)]="type">
    </div>

    <div class="options-field" *ngIf="team == ''">
      <div class="options-header">
        <strong>Opções</strong>
        <mat-icon id="plus-input" (click)="optionPlus()">library_add</mat-icon>
      </div>
      <div *ngFor="let option of options" class="option-field">
        <input type="text" placeholder={{option.text}} id="text" name="text" [(ngModel)]="option.text">
        <select name="correct" id="correct" [(ngModel)]="option.correct">
          <option disabled selected hidden value>{{option.correct}}</option>
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </div>
    </div>

    <div class="options-field" *ngIf="team != ''">
      <div class="options-header">
        <strong>Opções</strong>
        <mat-icon id="plus-input" (click)="optionPlus()">library_add</mat-icon>
      </div>
      <div *ngFor="let option of options" class="option-field">
        <input type="text" placeholder={{option.text}} id="text" name="text" [(ngModel)]="option.text">
        <select name="correct" id="correct" [(ngModel)]="option.correct">
          <option disabled selected hidden value>{{option.correct}}</option>
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
      </div>
    </div>

    <p class="error-msg">{{errorMsg}}</p>

    <div class="quizz-button-field">
      <button type="submit">{{buttonText}}</button>
    </div>
  </form>
</section>
