<section class="quizzes">
    <div class="quizz-card">
        <h2>Acerte a conta</h2>
        <p>Quanto é dois mais dois?</p>
        
        <div class="level-field">
            <mat-icon>trending_up</mat-icon>
            <strong>EASY</strong>
            <p>10 XP</p>
        </div>

        <div class="type-field">
            <mat-icon>list_alt</mat-icon>
            <p>MULTIPLE_CHOICE_ONE</p>
        </div>

        <!-- <div>
            <mat-icon>question_answer</mat-icon>
            <strong>Opções</strong>
        </div>

        <div>
            <p>é 4</p>
            <p>é 6</p>
        </div> -->
    </div>

    <div class="quizz-card">
        <h2>Acerte a conta</h2>
        <p>Quanto é dois mais dois?</p>
        
        <div class="level-field">
            <mat-icon>trending_up</mat-icon>
            <strong>EASY</strong>
            <p>10 XP</p>
        </div>

        <div class="type-field">
            <mat-icon>list_alt</mat-icon>
            <p>MULTIPLE_CHOICE_ONE</p>
        </div>
    </div>

    <div class="quizz-card">
        <h2>Acerte a conta</h2>
        <p>Quanto é dois mais dois?</p>
        
        <div class="level-field">
            <mat-icon>trending_up</mat-icon>
            <strong>EASY</strong>
            <p>10 XP</p>
        </div>

        <div class="type-field">
            <mat-icon>list_alt</mat-icon>
            <p>MULTIPLE_CHOICE_ONE</p>
        </div>
    </div>

    <div class="quizz-card">
        <h2>Acerte a conta</h2>
        <p>Quanto é dois mais dois?</p>
        
        <div class="level-field">
            <mat-icon>trending_up</mat-icon>
            <strong>EASY</strong>
            <p>10 XP</p>
        </div>

        <div class="type-field">
            <mat-icon>list_alt</mat-icon>
            <p>MULTIPLE_CHOICE_ONE</p>
        </div>
    </div>

    <div class="quizz-card">
        <h2>Acerte a conta</h2>
        <p>Quanto é dois mais dois?</p>
        
        <div class="level-field">
            <mat-icon>trending_up</mat-icon>
            <strong>EASY</strong>
            <p>10 XP</p>
        </div>

        <div class="type-field">
            <mat-icon>list_alt</mat-icon>
            <p>MULTIPLE_CHOICE_ONE</p>
        </div>
    </div>

    <div class="quizz-card">
        <h2>Acerte a conta</h2>
        <p>Quanto é dois mais dois?</p>
        
        <div class="level-field">
            <mat-icon>trending_up</mat-icon>
            <strong>EASY</strong>
            <p>10 XP</p>
        </div>

        <div class="type-field">
            <mat-icon>list_alt</mat-icon>
            <p>MULTIPLE_CHOICE_ONE</p>
        </div>
    </div>
</section>