:root{
    --purple: #e6007e;
    --purple-hover: #e6007e9c;

    --green: #bada55;
    --green-hover: #bbda5579;
}

*{
    font-family: 'Museo', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
